<div class="recharge-active-subscription d-none" data-active-subscriptions>
    <div class="recharge-active" data-single-active-subscription>
        <div class="border recharge-item">
            <div class="recharge-item-bar bg-primary-100 text-center">
                <p class="mb-0 font-size-md">
                    <span class="h6 mb-1 mb-md-0 text-primary lh-1 me-md-2 pe-md-1 align-middle d-inline-block">order skipped.</span>
                    <span class="align-middle lh-sm d-inline-block">Unskip order by Wednesday, August 3 to get this delivery.</span>
                </p> 
            </div> 
            <div class="d-md-flex align-items-center recharge-item-wrapper justify-content-between pe-xl-4">
                <div class="d-flex align-items-center flex-grow-1 recharge-item-img-txt mb-3 mb-lg-0">
                    <img src="https://cdn.shopify.com/s/files/1/0649/4388/2457/files/GrillMastersClub-Box_Landscape2.png?v=1660123974" alt="" class="d-none d-lg-block recharge-img">
                    <div class="ps-lg-5 flex-grow-1">
                        <div class="d-flex align-items-center justify-content-between d-md-block">
                            <div class="pe-4 pe-md-0">
                                <p class="ls-sm text-uppercase mb-1 mb-lg-0 order-id">Order #35742</p>
                                <h5 class="fw-semibold">grill masters club Subscription</h5>
                                <span class="fw-bold text-primary">$215.94</span>
                                <s class="ms-2 ps-1 font-size-md text-secondary-300">$269.94</s>
                            </div>
                            <img src="https://cdn.shopify.com/s/files/1/0649/4388/2457/files/GrillMastersClub-Box_Landscape2.png?v=1660123974" alt="" class="d-md-none recharge-img">
                        </div>
                        <p class="font-size-lg order-line-txt mb-0 mt-2">6 Month Prepay  - Ships every month</p>
                        <p class="font-size-lg order-line-txt mb-0">Your membership expires March 8, 2023.<br class="d-md-none"><a href="#" class="popup-link ms-md-2">Renew Now</a></p>
                    </div>
                </div>

                <a href="#" class="btn btn-primary" data-modal-opener="editsubscription-modal"><span class="add-text">edit</span><span class="spinner"></span></a>
            </div>

            <div class="recharge-item-info-box">
                <div class="row mx-n1 recharge-item-info-list">
                    <div class="shipment-item px-1">
                        <p class="mb-1 info-heading text-uppercase font-size-sm ls-sm fw-bold">Next shipment:</p>
                        <div class="d-flex align-items-center d-md-block">
                            <p class="mb-0 mb-md-1 font-size-md me-3 me-md-0">August 8, 2022</p>
                            <p class="mb-0 font-size-md"><a href="#" class="fw-medium" data-modal-opener="skipnextshipment-modal">Skip</a> or <a href="#" class="fw-medium" data-modal-opener="skipnextshipment-modal">Pause</a></p>
                        </div>
                    </div>
                    <div class="address-item px-1">
                        <p class="mb-1 info-heading text-uppercase font-size-sm ls-sm fw-bold">Shipping address:</p>
                        <address class="mb-1 font-size-md fst-normal">123 Shipping Street<br>
                        Metairie, Louisiana 12356, United States</address>
                        <p class="mb-0 font-size-md"><a href="#" data-modal-opener="shippingaddress-modal" class="fw-medium">Edit</a></p>
                    </div>

                    <div class="payment-item px-1">
                        <p class="mb-1 info-heading text-uppercase font-size-sm ls-sm fw-bold">Next Payment:</p>
                        <p class="mb-0 font-size-md">February 8, 2023</p>
                    </div>

                    <div class="payment-method-item px-1">
                        <p class="mb-1 info-heading text-uppercase font-size-sm ls-sm fw-bold">Payment method:</p>
                        <p class="mb-2 d-flex align-items-center font-size-md"><img src="https://cdn.shopify.com/shopifycloud/shopify/assets/payment_icons/visa-319d545c6fd255c9aad5eeaad21fd6f7f7b4fdbdb1a35ce83b89cca12a187f00.svg" alt="visa" class="me-2" />************1234</p>
                        <p class="mb-0 font-size-md"><a href="#" data-modal-opener="PopupModal-UpdatePayment" class="fw-medium">Edit</a></p>
                    </div>

                </div>
            </div>
        </div>
        <div class="mt-3 text-center">
            <a href="#" class="text-secondary font-size-md fw-medium popup-link">Cancel Subscription</a>
        </div>
    </div>
</div> 