<div class="recharge-active-subscription" data-gift-subscriptions>
    <div class="recharge-active" data-single-gift-subscription> 
        <div class="border recharge-item">
            <div class="d-md-flex align-items-center recharge-item-wrapper justify-content-between pe-xl-4">
                <div class="d-flex align-items-center flex-grow-1 recharge-item-img-txt mb-3 mb-lg-0">
                    <img src="https://cdn.shopify.com/s/files/1/0649/4388/2457/files/GrillMastersClub-Box_Landscape2.png?v=1660123974" alt="" class="d-none d-lg-block recharge-img">
                    <div class="ps-lg-5 flex-grow-1">
                        <div class="d-flex align-items-center justify-content-between d-md-block">
                            <div class="pe-4 pe-md-0">
                                <p class="ls-sm text-uppercase mb-1 mb-lg-0 order-id">Order #35742</p>
                                <h5 class="fw-semibold">grill masters club Subscription</h5>
                                <span class="fw-bold text-primary">$215.94</span>
                                <s class="ms-2 ps-1 font-size-md text-secondary-300">$269.94</s>
                            </div>
                            <img src="https://cdn.shopify.com/s/files/1/0649/4388/2457/files/GrillMastersClub-Box_Landscape2.png?v=1660123974" alt="" class="d-md-none recharge-img">
                        </div>
                        <p class="font-size-lg order-line-txt mb-0 mt-2">6 Month Prepay  - Ships every month</p>
                    </div>
                </div>
            </div>

            <div class="recharge-item-info-box">
                <div class="row mx-n1 recharge-item-info-list">
                    <div class="shipment-item px-1">
                        <p class="mb-1 info-heading text-uppercase font-size-sm ls-sm fw-bold">Next shipment:</p>
                        <div class="d-flex align-items-center d-md-block">
                            <p class="mb-0 mb-md-1 font-size-md me-3 me-md-0">August 8, 2022</p>
                            <p class="mb-0 font-size-md"><a href="#" class="fw-medium" data-modal-opener="skipnextshipment-modal">Skip</a> or <a href="#" class="fw-medium" data-modal-opener="skipnextshipment-modal">Pause</a></p>
                        </div>
                    </div>
                    <div class="address-item px-1">
                        <p class="mb-1 info-heading text-uppercase font-size-sm ls-sm fw-bold">Shipping address:</p>
                        <address class="mb-1 font-size-md fst-normal">123 Shipping Street<br>
                        Metairie, Louisiana 12356, United States</address>
                        <p class="mb-0 font-size-md"><a href="#" data-modal-opener="shippingaddress-modal" class="fw-medium">Edit</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 