<div>
    <input type="hidden" value="{{ cart.total_price | money_without_currency }}" id="cart_total_amount">
    <input type="hidden" value="{{ settings.free_gift_thresold }}" id="free_gift_thresold">
    <input type="hidden" value="{{ settings.get_free_product.variants.first.id }}" id="free_gift_vid">
</div>
