{% comment %} Choose a plan started {% endcomment %}
<select-frequency>
    <div class="d-none" data-selector="4"  data-step-name="select-frequency">
      {% if block.settings.heading != '' %}
      <h2 class="text-center text-uppercase mb-6 mb-lg-8">
         {{ block.settings.heading }}
      </h2>
      {% endif %}
      <div class="row justify-content-center" data-next_selector="5" data-freqWrapper>
       
      </div>
    </div>
</select-frequency>
{% comment %} Choose a plan end {% endcomment %}