<addon>
  <div class="d-none" data-selector="5" data-step-name="addon">
    <div class="row" id="addon-collection-product-grid">
      {% for product in block.settings.addoncollection.products %}
        <div class="col-12 col-lg-3 col-md-4 col-sm-6 mt-2 mb-2 d-flex align-items-stretch justify-content-around">
          {% render 'card-product-style-generic', product: product %}
        </div>
      {% endfor %}
    </div>
    <div class="text-center">
         <a href="#" class="btn btn-primary mt-4 mt-lg-5" data-continue data-next_selector="6">Continue</a>
      </div>
  </div>
</addon>