<addon>
  <div class="d-none" data-selector="5" data-step-name="select-addon">
    <div class="row" id="addon-collection-product-grid">
      {% for product in block.settings.addoncollection.products %}
        <div class="col-12 col-lg-3 col-md-4 col-sm-6 mt-2 mb-2 d-flex align-items-stretch justify-content-around card-product-addon{% if product.selected_or_first_available_variant.available %}{% else %} disabled opacity-0{% endif %}">
          <div>
            <div class="addon-card-img">
              <img src="{{ product.featured_image | image_url: width: 360 }}"/>
            </div>
            <div class="addon-card-title">
              <h3>{{ product.title }}</h3>
            </div>
            <div class="addon-card-price">
              <p>{{ product.price | money }}</p>
            </div>
            <form>
              <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
              <div class="addon-card-add" add-data-qty-sec>
                <button data-increase-decrease="decrease">-</button>
                <input class="text-center" type="number" readonly name="quantity" value="0" add-data-qty-value>
                <button data-increase-decrease="increase">+</button>
              </div>
            </form>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="text-center">
       <a href="#" class="btn btn-primary mt-4 mt-lg-5" data-continue data-next_selector="6">Continue / Skip</a>
    </div>
  </div>
</addon>