<section class="section-content subscription-funnel" data-section-id="{{ section.id }}" >
    <div class="{% if section.settings.fluid_layout %}container-fluid{% else %}container{% endif %}">
      <subscription-funnel>
        <div class="shadow p-5 p-lg-7 subscription-funnel-2">
          <div class="text-center pt-2 pb-4 pb-lg-5 " data-nav-subscription_breadcrumbs>
            {% render 'funnel-breadcrumbs' %}
          </div>
            <div class="funnel-steps my-auto">
              {% comment %} funnel steps start {% endcomment %}
              {% for block in section.blocks %}
                   {% if block.type == 'step-1' %}
                     {% render 'subscription2-funnel-step1' , block: block %}
                   {% endif %}
                   {% if block.type == 'step-2' %}
                     {% render 'subscription2-funnel-step2' , block: block %}
                   {% endif %}
                   {% if block.type == 'step-3' %}
                     {% render 'subscription2-funnel-step3' , block: block %}
                   {% endif %}
                   {% if block.type == 'step-4' %}
                     {% render 'subscription2-funnel-step4' , block: block %}
                   {% endif %}
                   {% if block.type == 'step-5' %}
                     {% render 'subscription2-funnel-step5' , block: block %}
                   {% endif %}
             {% endfor %}
             {% comment %} funnel steps end {% endcomment %}
            </div>
        </div>
      </subscription-funnel>
    </div>
</section>

{% schema %}
  {
    "name": "Funnel",
    "settings": [
        {
            "type": "header",
            "content": "Layout"
          },
          {
            "type": "checkbox",
            "id": "fluid_layout",
            "label": "Full Width Layout?",
            "default": false
          }
    ],
    "blocks": [
        {
          "name": "Choose Product",
          "type": "step-1",
          "settings": [
            {
              "type": "text",
              "id": "heading",
              "label": "Add Heading"
            },
            {
              "type": "product",
              "id": "product1",
              "label": "Select Product 1"
            },
            {
              "type": "product",
              "id": "product2",
              "label": "Select Product 2"
            },
            {
              "type": "product",
              "id": "product3",
              "label": "Select Product 3"
            }
          ]
        },
        {
          "name": "Choose Variant",
          "type": "step-2",
          "settings": [
            {
              "type": "text",
              "id": "heading",
              "label": "Add Heading"
            }
          ]
        },
        {
          "name": "Choose Amount",
          "type": "step-3",
          "settings": [
            {
              "type": "text",
              "id": "heading",
              "label": "Add Heading"
            },
            {
              "type": "text",
              "id": "amount1",
              "label": "Add quantity numbers"
            },
            {
              "type": "text",
              "id": "amount2",
              "label": "Add quantity numbers"
            },
            {
              "type": "text",
              "id": "amount3",
              "label": "Add quantity numbers"
            }
          ]
        },
        {
          "name": "Choose Frequency",
          "type": "step-4",
          "settings": [
            {
              "type": "text",
              "id": "heading",
              "label": "Add Heading"
            }
          ]
        },
        {
          "name": "Summary",
          "type": "step-5",
          "settings": [
            {
              "type": "text",
              "id": "heading",
              "label": "Add Heading"
            }
          ]
        }
    ]
  }
{% endschema %}

<style>
  .pointer-events-none{
    pointer-events: none;
}
.breadcrumbs-funnel .breadcrumbs__list .breadcrumbs__item:not(:last-child)::after{
    content: ">";
    padding:0 20px;
    color: #000;
}
.breadcrumbs-funnel .breadcrumbs__list .breadcrumbs__item .breadcrumbs__link{
    pointer-events: none;
}
.breadcrumbs-funnel .breadcrumbs__list .breadcrumbs__item .breadcrumbs__link.active-step{
    font-weight: 700;
    pointer-events: all !important;
}
.sidebar-products-wrapper .pro_image{
    max-width: 50px;
    height: 50px;
}
.sidebar-products-wrapper .quantity-wrapper{
    max-width: 45px;
}
.sidebar-products-wrapper .input-group> :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback){
    margin-left: -12px;
}
.sidebar-products-wrapper .input-group-text{
    background-color: transparent;
    border: 0;
}
.summary-footer{
    position: absolute;
    bottom: 0;
    left:0;
}
/* funnel 2css starteed */
select-variant input[type="radio"]{
    -webkit-appearance: none;
    appearance: none;
}
select-variant label{
    cursor: pointer;
}
select-variant label.selected{
   border: 1px solid var(--bs-color-gray-900) !important;
}
[data-frequency]{
    cursor: pointer;
}
.product-wrapper .product-description {
    padding: 1.25rem 0.75rem;
}
.subscription-funnel{
    min-height: 972px;
}
subscription-funnel-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subscription-funnel .selected{
    border: 1px solid var(--bs-color-gray-900) !important;
    position: relative;
}
​
.product-selection.card:hover , .variant-selection:hover , .qty-sizes:hover , .frequency-wrapper:hover{
   border: 1px solid var(--bs-color-gray-900) !important;
}
.selected{
   position:relative;
}
.selected:after{
     content: "\e90e";
    font-family: icon-fluid;
    color: #fff;
    background: #000;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 7px;
    top: 7px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: 11px;
    padding-left:4px;
}
.qty-sizes{
  cursor:pointer
}
.subscription-funnel-2{
    min-height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.sidebar-product-wrapper{
    height:750px;
    overflow: auto;
}
</style>